body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  color: currentColor;
  text-decoration-line: none;
}
/* Reset styles*/
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}
.header-logo-accent {
  color: #2e2f42;
}
.header-list {
  display: flex;
}
.header-item {
  align-items: center;
}
.header-item:last-child {
  margin-right: 0px;
}
.header-link {
  display: block;
  margin-right: 40px;
  padding: 24px 0;
}
.header-link:hover,
.header-link:focus {
  display: block;
  color: #404bbf;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  gap: 40px;
}
.header-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  gap: 40px;
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-contacts:hover {
  color: #434455;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px;
}
.address {
  font-style: normal;
}
.header-contacts-item {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
  font-style: italic;
}
.header-contacts-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contacts-link:hover {
  color: #404bbf;
}
.header-contacts-link:focus {
  color: #404bbf;
}
/*section 1 hero image*/
.hero {
  background: #2e2f42;
  padding: 188px 0px;
 
}
.hero-title {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
}
.button {
  font-family: inherit;
  color: currentColor;
  justify-content: center;
}
.hero-btm {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 48px;
}
.hero-btm:hover {
  background-color: #404bbf;
}
.hero-btm:focus {
  background-color: #404bbf;
}
/*section 2*/
.feature {
  padding: 120px 0;
}
.feature-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-list:first-child {
  margin-right: 0px;
}
.feature-item {
  width: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.feature-item-name {
  color: #2e2f42;
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.feature-item-descr {
  color: #434455;
  text-align: left;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*section 3*/
.team {
  background-color: #f4f4fd;
  width: 1440;
  padding: 120px 0;
}
.title {
  /*background-color: #ffffff;*/
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.container-team {
  background-color: #f4f4fd;
  width: 1440;
}
.team-list {
  display: flex;
  gap: 24px;
  margin-right: 24px;
}
.team-list:last-child {
  margin-right: 0px;
}
.name {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-item-card {
  background-color: #ffffff;
  color: #2e2f42;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.name {
  padding-top: 32hpx;
  padding-bottom: 32px;
}
.team-item-name {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-item-profession {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* section4*/
.portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.container portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-card {
  display: block;
  height: auto;
  font-size: 36px;
  line-height: 1.11;
  width: calc((100% - 48px) / 3);
}
.portfolio-descr {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*footer*/
.footer {
  background: #2e2f42;
  flex-direction: column;
  padding: 100px 0;
}
.footer-link {
  display: inline-block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-accent {
  color: #f4f4fd;
}
.footer-descr {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: Roboto;
  max-width: 264px;
}