body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  color: currentColor;
  text-decoration-line: none;
}

/* Reset styles*/
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-list {
  display: flex;
  margin-left: 76px;
}
.header-item {
  margin-right: 40px;
  padding: 24px 0 24px;
  align-items: center;
}
.header-item:last-child
{ margin-right: 0px;}

.header-link:hover,
.header-link:focus {
  display: block;
  color: #404bbf;
 
}
.header 
{ border-bottom: 1px solid #e7e9fc;}
.header-container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.header-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  margin-left: 156px;
  align-items: center;
}
.header-contacts:hover {
  color: #434455;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px;
}
#address {
  font-style: normal;
}
.header-contacts {
  display: flex;
}
.header-contacts-list {
  gap: 40px;
}

.header-contacts-item {
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-contacts-item:first-child {
  margin-left: 156px;
  margin-right: 40px;
}

.header-contacts-link:last-child {
  margin-right: 156px;
  /*margin-left: 40px;*/
}

.header-contacts-list {
  display: flex;
  align-items: center;
  display: inline-flex;
}
.header-contacts-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover {
  color: #404bbf;
}
.header-contacts-link:focus {
  color: #404bbf;
}


.hero {
  background: #2e2f42;
  padding: 188px 0px;
  /*padding-top: 120px;
  padding-bottom: 120px;*/
}

.hero-container {
  background: #2e2f42;
  align-content: center;
  justify-content: center;
  width: 1440px;
  flex-shrink: 0;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  display: flex;
  padding: 188px 0px 188px 0px;
  /*margin: 188px 472px 188px 472px;*/
}

.button {
  display: block;
  font-family: inherit;
  color: currentColor;
  justify-content: center;
}

.hero-btm {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
 
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  align-items: flex-start;
  justify-content: center;
  margin: 48px 163px 188px 167px;
  display: block;
}

.hero-btm:hover {
  background-color: #404bbf;
}
.hero-btm:focus {
  background-color: #404bbf;
}
/*section 2*/

.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*.feature-title {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}*/

.visually-hidden 
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.feature-list {
  display: flex;
  gap: 24px;
  margin-left: 156px;
  /*padding-top: 120px;
  padding-bottom: 120px;*/
}

.feature-list:first-child {
  margin-right: 0px;
}

.feature-item {
  width: calc (100% - 72px) / 4;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.feature-item-name {
  color: #2e2f42;
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-item-descr {
  color: #434455;
  text-align: left;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*sectio 3*/

.team {
  background-color: #f4f4fd;
  width: 1440;
  padding: 120px 0;
}
.title {
  /*background-color: #ffffff;*/
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /*margin-top: 120px;*/
  margin-bottom: 72px;
}
.container-team {
  background-color: #f4f4fd;
  width: 1440;
}
.team-list {
  display: flex;
  gap: 24px;
  margin-right: 24px;
 
}
.team-list:last-child {
  margin-right: 0px;
}
.container name {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-item-card {
  background-color: #ffffff;
  color: #2e2f42;
  border-radius: 0px 0px 4px 4px;
  width: calc (100% - 72px) / 4;
}

.team-item-name {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  padding-top: 32px;
}

.team-item-profession {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-bottom: 32px;
}

/* section3*/

.portfolio {
  background-color: #fff;
  padding: 120px 0 120px 0;
}
.portfolio-content .container
{ /*margin-top: 32px;
  margin-bottom: 8px;*/
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48 px;
  /*margin-top: 72px;
  margin-left: 156px;
  margin-right: 156px;*/
  
}
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;

}

.portfolio-item-card {
  font-size: 36px;
  line-height: 1.11;
  width: calc ((100% - 48px) / 3);
  /*margin-left: 156px;
  margin-right: 156px;*/
 
  
}
.portfolio-descr {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  width: 264px;
}

/*footer*/

.footer {
  background: #2e2f42;
  flex-direction: column;
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 101.5px;
  margin-right: 156px;
  margin-bottom: 16px;
  margin-left: 156px;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: Roboto;
  max-width: 264px;
  margin-top: 17.5px;
  margin-right: 1020;
  margin-bottom: 100px;
  margin-left: 156px;
  display: flex;
  justify-content: center;
}
